* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #28403D;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

form.adicionar-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

form.adicionar-form input,
form.adicionar-form button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form.adicionar-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #3D5A73;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
    color: white;
}

th {
    background-color: #182625;
    color: white;
}

form.editar-form input {
    width: 90px;
    padding: 5px;
}

button#btn_salvar {
    padding: 5px 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

a {
    padding: 4px 8px;
    margin-left: 10px;
    color: white;
    border-radius: 4px;
    background-color: red;
    text-decoration: none;
}

@media (max-width: 768px) {
    form.adicionar-form {
        flex-direction: column;
        align-items: center;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead {
        display: none;
    }

    tr {
        margin-bottom: 15px;
        background-color: #182625;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
    }

    td {

        position: relative;
        padding-left: 30%;
        text-align: right;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: 45%;
        text-align: left;
        font-weight: bold;
    }

    form.editar-form {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    form.editar-form input {
        width: 100%;
    }
}